<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556962069588-t4fm267m8jriipmhi3g51t032uu058t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556962069588-t4fm267m8jriipmhi3g51t032uu058t8</string>
	<key>API_KEY</key>
	<string>AIzaSyAhZpUiPpXSik2gJEY318xD-mAyMKkD8nY</string>
	<key>GCM_SENDER_ID</key>
	<string>556962069588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.calblueprint.HealthyCornersClerk</string>
	<key>PROJECT_ID</key>
	<string>healthy-corners-clerk</string>
	<key>STORAGE_BUCKET</key>
	<string>healthy-corners-clerk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556962069588:ios:9f636ecd24fafe876401c1</string>
	<key>DATABASE_URL</key>
	<string>https://healthy-corners-clerk.firebaseio.com</string>
</dict>
</plist>